.liquid-ether-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.liquid-ether-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
